* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
@font-face {
  font-family: Nuno;
  src: url("./assets/fonts/NunitoSans_10pt-Regular.ttf") format("trueType");
}
html {
  font-family: Nuno;
  font-size: 10px;
}

.cart {
  width: 21%;
  height: 50rem;
  margin: 5rem 2.7rem;
  border: 1px solid black;
  background-color: #eeeeee;
}
.img {
  max-width: 50rem;
  height: 40rem;
}

@media screen and (max-width: 1466px) {
  .cart {
    width: 30%;
    margin: 5rem 2rem;
  }
}
@media screen and (max-width: 1320px) {
  .cart {
    width: 40%;
    margin: 5rem 3.8rem;
  }
  .txt {
    font-size: 1.4rem;
  }
  .img {
    max-width: 30rem;
    height: 30rem;
  }
}
@media screen and (max-width: 1150px) {
  .modal {
    flex-direction: column;
  }
}

@media screen and (max-width: 875px) {
  .cart {
    width: 75%;
    margin: 5rem 10rem;
  }
  .modal {
    flex-direction: column;
  }
  .txt {
    font-size: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .cart {
    width: 90%;
    margin: 5rem 2rem;
  }
  #title {
    font-size: 2rem;
  }
  .headerBtnDesc {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 450px) {
  #title {
    font-size: 1.5rem;
  }
  .siteMode {
    width: 12rem !important;
  }
  .headerBtnDesc {
    font-size: 1.4rem !important;
  }
}
